body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

.container{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
  
}

h1{
    text-align: center;
}

input[type="text"]{
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type="submit"]{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    width: 100%;
}

.resultado{
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ddd;
}

a{
    text-decoration: none;
    color: white;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    width: 100%;
}