body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

form {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #667eea;
    box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

input[type="submit"] {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Resultado */
h2, p {
    color: white;
    text-align: center;
}

.resultado {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

.resultado h2 {
    color: #333;
}

.resultado p {
    color: #555;
}